*-blx.aux
*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.lof
*.log
*.lot
*.out
*.pdf
*.pdfsync
*.ps
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.tex
*.toc
.*.lb
